* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: rial, Helvetica, sans-serif;
    background: beige;
    color: black;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.section {
    padding: 44px 0;
}

.section-alt {
    background: white;
}